@import "tailwindcss";

@theme {
  --font-sans: var(--font-be-vietnam), "Be Vietnam Pro", sans-serif;
}

@layer base {
  body {
    @apply bg-[#F7F9FB] text-slate-800 antialiased;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
